
.container-all{
    width: 100%;
    height: 100%;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms;
}

.container-all:target{
    background: rgba(0, 0, 0, 0.8);
    visibility: visible;
    opacity: 1;
}

.container-all:target .popup{
    top: -45%;
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
    visibility: visible;
}

.popup{
    width: 100%;
    max-width: 800px;
    height: 500px;
    position: relative;
    background: white;
    display: flex;
    top: -80%;
    left: -80%;
    visibility: hidden;
    transform: rotate(90deg) translate(-150%,230%);
    transition: all 600ms;
}

.imgpop{
    width: 40%;
    background-image: url(../Images/ImagesDeptos/Amazonas.jpg);
    background-size: cover;
    background-position: center;
}

.container-text{
    width: 60%;
    padding: 50px;
    overflow-y: auto;
}

.container-text h1{
    font-size: 30px;
}

.container-text p{
    margin-top: 20px;
    font-size: 16px;
}

.btn-close-popup{
    width: 50px;
    height: 50px;
    position: absolute;
    right: -20px;
    top: -20px;
    background: black;
    color: white;
    border-radius: 50%;
    line-height: 10px;
    padding: 20px;
}


@media screen and (max-width: 500px) {
    .container-text{
        padding: 20px;
    }

    .container-text h1{
        font-size: 20px;
    }

    .container-text p{
        font-size: 12px;
    }
}
    
